---
import "../styles/global.css";
import SiteLayout from "../layouts/SiteLayout.astro";
import ProductCard from "../components/ProductCard.astro";
import ServiceFeature from "../components/ServiceFeature.astro";
import Testimonial from "../components/Testimonial.astro";

const services = [
  {
    title: "Reparación",
    subtitle: "Reparamos cualquier tipo de persiana o cortina",
    icon: "fa-screwdriver-wrench",
  },
  {
    title: "Automatización",
    subtitle: "Automatiza tus persianas y cortinas, Integración con Alexa y Google Home",
    icon: "fa-award",
  },
  {
    title: "Venta e Instalación",
    subtitle:
      "Venta e instalación de persianas, cortinas y toldos a la medida de tus necesidades",
    icon: "fa-credit-card",
  },
];

const products = [
  {
    title: "Enrollables",
    price: "Desde $150 m2",
    image: "/images/roller-shades.jpg",
  },
  {
    title: "Sheer Elegance",
    price: "Desde $150 m2",
    image: "/images/sheer-blinds.jpg",
  },
  {
    title: "Panel Japonés",
    price: "Desde $550 m2",
    image: "/images/panel.jpg",
  },
  {
    title: "Horizontales de Madera",
    price: "Desde $300 m2",
    image: "/images/wooden-blinds.jpg",
  },
  {
    title: "Romanas",
    price: "Desde $250 m2",
    image: "/images/roman-shades.jpg",
  },
  {
    title: "Toldos",
    price: "Desde $1050 m2",
    image: "/images/awning.jpg",
  },
];

const why = [
  {
    title: "Instalación Profesional",
    subtitle: "Instaladores profesionales con años de experiencia",
    icon: "fa-screwdriver-wrench",
  },
  {
    title: "Garantia De Por Vida",
    subtitle: "Cobertura completa para tu tranquilidad",
    icon: "fa-award",
  },
  {
    title: "Financiamiento",
    subtitle:
      "Aceptamos cualquier metodo de pago y mensualidades sin intereses",
    icon: "fa-credit-card",
  },
];

const testimonials = [
  {
    quote: "Excelente servicio, excelentes precios!",
    author: "Juan",
    image: "/images/testimonial1.jpg",
  },
  {
    quote: "Me encantan mis nuevas cortinas!",
    author: "Emilia",
    image: "/images/testimonial2.jpg",
  },
  {
    quote: "El mejor lugar para comprar persianas.",
    author: "David",
    image: "/images/testimonial3.jpg",
  },
];
---

<SiteLayout>
  <header
    class="banner bg-cover bg-center text-white text-center py-20"
    style="background-image: url('/images/banner.jpg');"
  >
    <div class="max-w-xl mx-auto">
      <img
        src="/images/logo.png"
        alt="Centered Image"
        class="mx-auto header-shadow"
        />
        <!-- class="mx-auto mb-8 header-shadow" -->
      <!-- <h1 class="text-5xl font-bold mb-4 header-shadow">
        Persianas, Cortinas y Toldos Personalizados
      </h1>
      <p class="text-lg mb-8 header-shadow">
        Ofrecemos una gran selección de persianas, cortinas y contraventanas
        personalizadas. Elija entre una variedad de estilos y colores para
        encontrar los productos de ventana perfectos para su hogar
      </p> -->
    </div>
  </header>

  <section class="services py-10 bg-background text-center">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold mb-4">Servicios</h2>
      <p class="mb-8"></p>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {
          services.map((service) => (
            <ServiceFeature
              title={service.title}
              subtitle={service.subtitle}
              icon={service.icon}
            />
          ))
        }
      </div>
    </div>
  </section>
  
  <section class="services py-10 bg-secbackground text-center">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold mb-4">Catálogo</h2>
      <p class="mb-8"></p>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {
          products.map((product) => (
            <ProductCard
              title={product.title}
              price={product.price}
              image={product.image}
            />
          ))
        }
      </div>
    </div>
  </section>

  <section class="services py-10 bg-background text-center">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold mb-4">¿Por qué escogernos?</h2>
      <p class="mb-8">
        Falta texto aqui
      </p>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {
          why.map((service) => (
            <ServiceFeature
              title={service.title}
              subtitle={service.subtitle}
              icon={service.icon}
            />
          ))
        }
      </div>
    </div>
  </section>

  <section class="testimonials py-10 bg-secbackground">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-8">Testimonials</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {
          testimonials.map((testimonial) => (
            <Testimonial
              quote={testimonial.quote}
              author={testimonial.author}
              image={testimonial.image}
            />
          ))
        }
      </div>
    </div>
  </section>
</SiteLayout>
