---
import "../styles/global.css";
import SiteLayout from "../layouts/SiteLayout.astro";
import ProductCard from "../components/ProductCard.astro";
import ServiceFeature from "../components/ServiceFeature.astro";
import Testimonial from "../components/Testimonial.astro";

import { fetchProducts, fetchServices, fetchWhy, fetchTestimonials } from '../utils/api';

const services = await fetchServices();
const products = await fetchProducts();
const why = await fetchWhy();
const testimonials = await fetchTestimonials();
---

<SiteLayout>
  <header
    class="banner bg-cover bg-center text-white text-center py-20"
    style="background-image: url('/images/banner.jpg');"
  >
    <div class="max-w-xl mx-auto">
      <img
        src="/images/logo.png"
        alt="Centered Image"
        class="mx-auto header-shadow"
        />
        <!-- class="mx-auto mb-8 header-shadow" -->
      <!-- <h1 class="text-5xl font-bold mb-4 header-shadow">
        Persianas, Cortinas y Toldos Personalizados
      </h1>
      <p class="text-lg mb-8 header-shadow">
        Ofrecemos una gran selección de persianas, cortinas y contraventanas
        personalizadas. Elija entre una variedad de estilos y colores para
        encontrar los productos de ventana perfectos para su hogar
      </p> -->
    </div>
  </header>

  <section class="services py-10 bg-background text-center">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold mb-4">Servicios</h2>
      <p class="mb-8"></p>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {
          services.map((service) => (
            <ServiceFeature
              title={service.title}
              subtitle={service.subtitle}
              icon={service.icon}
            />
          ))
        }
      </div>
    </div>
  </section>
  
  <section class="products py-10 bg-secbackground text-center">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold mb-4">Catálogo</h2>
      <p class="mb-8"></p>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {
          products.map((product) => (
            <ProductCard
              id={product.id}
              title={product.title}
              price={product.price}
              image={product.image}
            />
          ))
        }
      </div>
      <a href="/catalogo" class="bg-primary text-white py-2 px-4 rounded">Ver más...</a>
    </div>
  </section>

  <section class="services py-10 bg-background text-center">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold mb-4">¿Por qué escogernos?</h2>
      <p class="mb-8">
        Falta texto aqui
      </p>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {
          why.map((service) => (
            <ServiceFeature
              title={service.title}
              subtitle={service.subtitle}
              icon={service.icon}
            />
          ))
        }
      </div>
    </div>
  </section>

  <section class="testimonials py-10 bg-secbackground">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-8">Testimonios</h2>
      <p class="mb-8">
        Falta texto aqui
      </p>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {
          testimonials.map((testimonial) => (
            <Testimonial
              quote={testimonial.quote}
              author={testimonial.author}
              image={testimonial.image}
            />
          ))
        }
      </div>
    </div>
  </section>
</SiteLayout>
