---
import SiteLayout from "../layouts/SiteLayout.astro";
import ProductCard from "../components/ProductCard.astro";
import Process from "../components/Process.astro";
import Testimonial from "../components/Testimonial.astro";

import { fetchProducts, fetchTestimonials } from "../utils/api";

const products = await fetchProducts();
const testimonials = await fetchTestimonials();
---

<SiteLayout>
  <header class="text-center pt-5 pb-20">
      <div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="px-10 pb-10 text-justify">
          <h2 class="text-4xl lg:text-5xl font-bold mb-4 text-strong-blue">
            MÁS DE 30 AÑOS DANDOLE VIDA A AMBIENTES CON LUZ PROPIA
          </h2>
          <p class="text-2xl lg:mb-8 lg:text-3xl lg:pt-10 pt-5">
            Nuestras soluciones en persianas y cortinas combinan funcionalidad y
            estilo con la más avanzada tecnología de automatización. Somos
            fabricantes directos, lo que nos permite garantizar la máxima calidad en
            cada producto. Facilitamos su experiencia a través de una instalación
            impecable y mensualidades sin intereses.
          </p>
          <a
            href=""
            class="md:block mx-auto w-80 hidden text-center border-solid border-2 border-strong-blue bg-white text-strong-blue hover:bg-strong-blue hover:text-white mt-14 py-4 px-12 rounded text-2xl"
            >Cotiza Ahora</a
          >
        </div>
        <div>
          <img
          src="/images/header.png"
          alt="Homeblinds"
          class="mx-auto pb-10"/>
        </div>
      </div>
      <a
        href=""
        class="md:hidden border-solid border-2 border-strong-blue bg-white text-strong-blue hover:bg-strong-blue hover:text-white py-4 px-12 rounded text-2xl"
        >Cotiza Ahora</a
      >
  </header>

  <section class="services text-center">
    <div class="w-full">
      <div class="grid grid-cols-1 lg:grid-cols-3">
        <div class="service-feature text-center bg-background-gray py-5">
          <i class="flaticon-reparaciones-en-el-hogar text-9xl text-icons-gray"
          ></i>
          <h3 class="text-xl font-bold text-strong-blue mb-2">
            REPARAMOS TUS PERSIANAS
          </h3>
          <p class="text-strong-blue mb-2">
            Reparación de persianas y cortinas de cualquier marca y modelo.
          </p>
        </div>
        <div class="service-feature text-center bg-strong-blue py-5">
          <i class="flaticon-asistente-de-voz-1 text-9xl text-icons-blue"></i>
          <h3 class="text-xl font-bold text-white mb-2">AUTOMATIZACIÓN</h3>
          <p class="text-white mb-2">
            Automatiza tus persianas y cortinas, integración con Alexa y Google
            Home.
          </p>
        </div>
        <div class="service-feature text-center bg-background-gray py-5">
          <i class="flaticon-persianas text-9xl text-icons-gray"></i>
          <h3 class="text-xl font-bold text-strong-blue mb-2">
            INSTALACIÓN PROFESIONAL
          </h3>
          <p class="text-strong-blue mb-2">
            Instaladores profesionales con años de experiencia
          </p>
        </div>
      </div>
    </div>
  </section>


  <section class="products py-10 text-center">
    <h2 class="text-3xl font-bold mb-4 text-strong-blue">CATÁLOGO</h2>
    <div class="flex mt-8">
      <div class="slick-previous-arrow w-1/4 hidden lg:flex justify-center items-center">
        <svg class="w-8 h-8 hover:fill-strong-blue fill-icons-gray -rotate-180" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.122 24l-4.122-4 8-8-8-8 4.122-4 11.878 12z"/></svg>
      </div>
      <div id="slick-products" class="slick w-full lg:w-3/4">
        {
          products.length > 0 ? (
            products.map((product) => (
              <ProductCard
                id={product.id}
                title={product.title}
                image={product.image}
                price={product.price}
              />
            ))
          ) : (
            <p>No hay productos disponibles.</p>
          )
        }
      </div>
      <div class="slick-next-arrow w-1/4 hidden lg:flex justify-center items-center">
        <svg class="w-8 h-8 hover:fill-strong-blue fill-icons-gray" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.122 24l-4.122-4 8-8-8-8 4.122-4 11.878 12z"/></svg>
      </div>
    </div>
</section>

  <section class="services py-10 bg-background text-center">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold mb-4 text-strong-blue">
        ESCOGA SU ESTILO, NOSOTROS HACEMOS EL RESTO
      </h2>
      <Process />
    </div>
  </section>

  <section class="testimonials mt-20 text-center bg-background-gray">
      <h2 class="text-3xl font-bold mb-4 text-strong-blue pt-10">TESTIMONIOS DE NUESTROS CLIENTES</h2>
      <div class="flex mt-8">
        <div class="slick-previous-arrow w-1/4 hidden lg:flex justify-center items-center">
          <svg class="w-8 h-8 hover:fill-strong-blue fill-icons-gray -rotate-180" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.122 24l-4.122-4 8-8-8-8 4.122-4 11.878 12z"/></svg>
        </div>
        <div id="slick-testimonials" class="slick w-full lg:w-3/4">
          {
            testimonials.length > 0 ? (
              testimonials.map((testimonial) => (
                <Testimonial
                  quote={testimonial.quote}
                  author={testimonial.author}
                  image={testimonial.image}
                />
              ))
            ) : (
              <p>No hay testimonios disponibles.</p>
            )
          }
        </div>
        <div class="slick-next-arrow w-1/4 hidden lg:flex justify-center items-center">
          <svg class="w-8 h-8 hover:fill-strong-blue fill-icons-gray" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.122 24l-4.122-4 8-8-8-8 4.122-4 11.878 12z"/></svg>
        </div>
      </div>
  </section>

  <section class="p-10 text-center bg-background-gray">
    <a
      href=""
      class="border-solid border-2 border-strong-blue bg-white text-strong-blue hover:bg-strong-blue hover:text-white py-4 px-12 rounded text-2xl"
      >Cotiza Ahora</a
    >
  </section>
</SiteLayout>

<script>
  import $ from "jquery";
  import "slick-carousel";

  declare global {
    interface JQuery {
      slick(options?: any): JQuery;
      slick(method: string, ...args: any[]): JQuery;
    }
  }

  $(function () {
    const commonSlickOptions = {
      centerMode: true,
      centerPadding: 0,
      arrows: false,
      autoplay: true,
      dots: true,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3,
      autoplaySpeed: 5000,
      adaptiveHeight: true,
    }

    $("#slick-products").slick({
      ...commonSlickOptions,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

    $("#slick-testimonials").slick({
      ...commonSlickOptions,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        },
      ]
    });

    $(".slick-previous-arrow").on("click", function () {
      $(".slick").slick("slickPrev");
    });

    $(".slick-next-arrow").on("click", function () {
      $(".slick").slick("slickNext");
    });

    function productsButtonToBlue() {
      $(".slick-center .see-more-button").addClass("text-white bg-strong-blue");
      $(".slick-center .see-more-button").removeClass("text-strong-blue bg-white");
    }

    function productsButtonToWhite() {
      $(".slick-center .see-more-button").addClass("text-strong-blue bg-white");
      $(".slick-center .see-more-button").removeClass("text-white bg-strong-blue");
    }

    function testimonialToStrongBlue() {
      const windowWidth = $(window).width()!;
      if (windowWidth < 600) {
        $(".slick-center .testimonial").addClass("bg-strong-blue");
        $(".slick-center .testimonial").removeClass("bg-light-blue");
      } else {
        $(".slick-center .testimonial").addClass("bg-strong-blue scale-up");
        $(".slick-center .testimonial").removeClass("bg-light-blue scale-down");
      }
    }

    function testimonialToLightBlue() {
      const windowWidth = $(window).width()!;
      if (windowWidth < 600) {
        $(".slick-center .testimonial").addClass("bg-light-blue");
        $(".slick-center .testimonial").removeClass("bg-strong-blue");
      } else {
        $(".slick-center .testimonial").addClass("bg-light-blue scale-down");
        $(".slick-center .testimonial").removeClass("bg-strong-blue scale-up");
      }
    }

    testimonialToStrongBlue();
    
    $(".slick").on("afterChange", function(event, slick, currentSlide, nextSlide){
      // Products button animation
      productsButtonToWhite();

      // Testimonial animation
      testimonialToStrongBlue();
    });

    $(".slick").on("beforeChange", function(event, slick, currentSlide, nextSlide){
      // Products button animation
      productsButtonToBlue();

      // Testimonial animation
      testimonialToLightBlue();
    });
  });
</script>
