---
const common_step_classes = "flex flex-col items-center";
const steps = [
    {
        title: "COTIZACIÓN",
        description:
            "Agende una visita a su domicilio para una cotización precisa y sin compromiso alguno.",
        large_screen_class: common_step_classes + " mb-28",
        small_screen_class: common_step_classes + " mr-48 md:mr-80",
    },
    {
        title: "ELECCIÓN",
        description: "Eliga entre una amplia variedad de estilos y diseños.",
        large_screen_class: common_step_classes + " mt-28",
        small_screen_class: common_step_classes + " ml-48 md:ml-80",
    },
    {
        title: "INSTALACIÓN",
        description:
            "Rápida y sin complicaciones por parte de nuestros profesionales.",
        large_screen_class: common_step_classes + " mb-28",
        small_screen_class: common_step_classes + " mr-48 md:mr-80",
    },
    {
        title: "AUTOMATIZACIÓN",
        description: "Consulte nuestras opciones de persianas automáticas.",
        large_screen_class: common_step_classes + " mt-28",
        small_screen_class: common_step_classes + " ml-48 md:ml-80",
    },
];
---

<div class="container mx-auto py-5">
    <div class="relative">
        <!-- Horizontal line for larger screens -->
        <div
            class="hidden lg:block absolute top-1/2 left-0 right-0 h-0.5 bg-gray-300 transform -translate-y-1/2"
        >
        </div>
        <!-- Timeline steps for large screens -->
        <div class="hidden lg:flex justify-between items-center">
            <!-- Steps with alternating positions -->
            {
                steps.map((step, _) => (
                    <div class={step.large_screen_class}>
                        <div>{step.title}</div>
                        <p class="mt-4 max-w-xs">{step.description}</p>
                    </div>
                ))
            }
        </div>

        <!-- Vertical line and steps for small screens -->
        <div
            class="lg:hidden absolute left-1/2 transform -translate-x-1/2 top-0 bottom-0 w-0.5 bg-gray-300"
        >
        </div>
        <div class="lg:hidden flex flex-col items-center">
            <!-- Steps with alternating positions -->
            {
                steps.map((step, _) => (
                    <div class={step.small_screen_class}>
                        <div>{step.title}</div>
                        <p class="mt-4 max-w-xs">{step.description}</p>
                    </div>
                ))
            }
        </div>
    </div>
</div>
